@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #6324c6;
  --primary-light: #774dc5;
  --warning: #ffb800;
  --success: #01ada6;
  --danger: #e92151;
  --background: #ffffff;
  --foreground: #171717;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  color: var(--foreground);
  background: var(--background);
}

.container-full {
  --padding-inline: 1.5625rem;

  width: 100%;
  max-width: calc(82.5rem + (var(--padding-inline) * 2));
  margin-inline: auto;
  padding-inline: var(--padding-inline);
}

@layer components {
  .btn-primary {
    @apply py-2 px-5 bg-primary rounded text-white font-semibold;
  }

  .btn-primary-outline {
    @apply py-2 px-5 border border-primary bg-white rounded text-primary font-semibold hover:bg-primary hover:text-white transition-all;
  }

  .btn-primary-outline--active {
    @apply bg-primary text-white;
  }
}

input {
  @apply border p-[0.625rem] rounded;
}
