@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #6324c6;
  --warning: #ffb800;
  --success: #01ada6;
  --danger: #e92151;
  --background: #ffffff;
  --foreground: #171717;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  color: var(--foreground);
  background: var(--background);
}

.container-full {
  --padding-inline: 1.5625rem;

  width: 100%;
  max-width: calc(82.5rem + (var(--padding-inline) * 2));
  margin-inline: auto;
  padding-inline: var(--padding-inline);
}
